*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #001839;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::-webkit-scrollbar{
    width: 7px;
    border-radius: 5px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #0085FF;
    border-radius: 5px;
}
header{
    width: 100%;
    height: 80px;
    background-color: #131619;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center, center;
}
.lupa{
    width: 1.6rem;
    height: 1.6rem;
    position: relative;
    bottom: -27px;
    right: -20px;
    cursor: pointer;
}
#pesquisa{
    position: absolute;
    top: 27px;
    left: 65px;
    padding: 4px;
    border-radius: 6px;
    border: none;
    display: none;
}
.hamburger{
    width: 1.8rem;
    height: 2rem;
    position: absolute;
    z-index: 5;
    right: 2rem;
    top: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.show-menu .hamburger{
    right: 7rem;
}
.line{
    width: 100%;
    height: .1rem;
    padding: 1px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 3px rgba(0, 0, 0, 0.788);
    transition: transform .7s;
}
.show-menu #line1{
    transform: rotate(45deg) translate(.4rem, .9rem);
    background-color: #0085FF;
    box-shadow: none;
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.9rem);
    background-color: #0085FF;
    box-shadow: none;
}
.sidebar{
    width: 10rem;
    height: 300px;
    background: linear-gradient(329.54deg, #111111 0%, #222222 100%);
    box-shadow: 10px 5px 15px 10px rgba(0, 0, 0, 0.582);
    position: absolute;
    top: 0;
    right: -0rem;
    display: none;
    transition: all .8s;
    z-index: 2;
}
.show-menu .sidebar{
    right: 0;
    overflow: hidden;
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}
.menu-link{
    font-size: 1.5rem;
    color: rgb(245, 245, 245);
    transition: color .7s;
}
.menu-link:hover{
    color: #0085FF;
    transition: color .7s;
}

.container-slide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: black;
    margin: 0 auto;
}
.container-items{
    position: absolute;
    display: flex;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.item{
    width: 100%;
    height: 60vh;
    transition: 1s;
    animation: scroll 30s infinite;
}
@keyframes scroll {
    0%{
        transform: translate(100%);
    }
    15%{
        transform: translate(100%);
    }
    20%{
        transform: translate(0%);
    }
    25%{
        transform: translate(0%);
    }
    30%{
        transform: translate(-100%);
    }
    35%{
        transform: translate(-100%);
    }
    40%{
        transform: translate(-200%);
    }
    45%{
        transform: translate(-200%);
    }
    50%{
        transform: translate(-300%);
    }
    55%{
        transform: translate(-300%);
    }
    60%{
        transform: translate(-200%);
    }
    65%{
        transform: translate(-200%);
    }
    70%{
        transform: translate(-100%);
    }
    75%{
        transform: translate(-100%);
    }
    80%{
        transform: translate(0%);
    }
    85%{
        transform: translate(0%);
    }
    90%{
        transform: translate(100%);
    }
    100%{
        transform: translate(100%);
    }
}
.item:first-child{
    margin-left: -100%;
}
.item img{
    width: 85rem;
    height: 60vh;
}
.button{
    font: bold 28px sans-serif;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    user-select: none;
    transition: 0.3s;
    border-radius: 100%;
    margin: 10px;
}
#previous, #next{
    display: none;
}
.button:hover{
    color: rgba(255, 255, 255, 0.842);
    background-color: rgba(0, 0, 0, 0.699);
    cursor: pointer;
    transition: 0.5s;
}
.informa{
    margin: 15px;
}
.barra-horizontal{
    width: 86%;
    height: 4px;
    background-color: #0085FF;
    border-radius: 2px;
    position: relative;
    top: -26px;
    left: 160px;
}
.container-slide-anime, .container-slide-anime2, .container-slide-animeT, .container-slide-animeA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 34vh;
    margin: 0 auto;
}
.container-items-anime, .container-items-anime2, .container-items-animeT, .container-items-animeA{
    position: absolute;
    display: flex;
    gap: 10px;
    width: 98%;
    height: 12.6em; 
    border-radius: 10px;
    overflow: hidden;
}
.item-anime, .item-anime2, .item-animeT, .item-animeA{
    width: 90vw;
    height: 200px;
    transition: 0.5s;
}
.item-anime-texto{
    background-color: rgba(0, 0, 0, 0.315);
    color: rgba(255, 255, 255, 0.829);
    z-index: 1;
    padding: 5px;
    position: absolute;
    font-size: 0.9em;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    width: 140px;
}
.item-anime:first-child, .item-anime2:first-child, .item-animeT:first-child, .item-animeA:first-child{
    margin-left: -20%;
    transition: 1s;
}
.item-anime img, .item-anime2 img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    background-color: #131619;
    transition: 0.5s;
}
.item-anime img:hover, .item-anime2 img:hover{
    filter:grayscale(70%);
}
.item-animeT iframe, .item-animeA iframe{
    border-radius: 10px;
    background-color: #131619;
}
.button-anime{
    font: bold 28px sans-serif;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    user-select: none;
    transition: 0.3s;
    border-radius: 100%;
    margin: -10px;
}
.button-anime:hover{
    color: rgba(255, 255, 255, 0.842);
    background-color: rgba(0, 0, 0, 0.699);
    cursor: pointer;
    transition: 0.5s;
}
.informa2{
    text-align: right;
    margin: 15px;
}
.barra-horizontal2{
    width: 87%;
    height: 4px;
    background-color: #0085FF;
    border-radius: 2px;
    position: relative;
    top: -26px;
    left: 19px;
}
#Trailer-barra{
    width: 91%;
    left: 90px;
}
#AMV-barra{
    width: 92%;
}
.barra-footer{
    background-color: #0085FF;
    width: 91%;
    height: 4px;
    margin: 0 auto;
    border-radius: 2px;
    position: relative;
    top: 23px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: #131619;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Charizard_x.png);
    background-repeat: no-repeat;
    background-size: 20em;
}
.footer-div{
    width: 500px;
    height: 150px;
    font-size: 1.2em;
    text-align: justify;
}
.capa-box{
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom,center;
}
#yu-fundo{
    background-image: url(img/Yu-fundo.png);
}
#pok-fundo{
    background-image: url(img/pok-fundo.png);
}
#Na-fundo{
    background-image: url(img/Na-fundo.png);
}
#Dra-fundo{
    background-image: url(img/Dra-fundo.png);
}
#My-fundo{
    background-image: url(img/My-fundo.png);
}
#One-fundo{
    background-image: url(img/One-fundo.png);
}
#Bak-fundo{
    background-image: url(img/Bak-fundo.png);
}
#Boku-fundo{
    background-image: url(img/Boku-fundo.png);
}
#Chai-fundo{
    background-image: url(img/Chai-fundo.png);
}
#Darli-fundo{
    background-image: url(img/Darli-fundo.png);
}
#Deat-fundo{
    background-image: url(img/Deat-fundo.png);
}
#Drag-fundo{
    background-image: url(img/Drag-fundo.png);
}
#Haik-fundo{
    background-image: url(img/Haik-fundo.png);
}
#Juju-fundo{
    background-image: url(img/Juju-fundo.png);
}
#Kime-fundo{
    background-image: url(img/Kime-fundo.png);
}
#Naru-fundo{
    background-image: url(img/Naru-fundo.png);
}
#Sete-fundo{
    background-image: url(img/Sete-fundo.png);
}
#Shinge-fundo{
    background-image: url(img/Shinge-fundo.png);
}
#Spy-fundo{
    background-image: url(img/Spy-fundo.png);
}
#Sword-fundo{
    background-image: url(img/Sword-fundo.png);
}
#Tate-fundo{
    background-image: url(img/Tate-fundo.png);
}
#Toky-fundo{
    background-image: url(img/Toky-fundo.png);
}
.box{
    display: flex;
    position: relative;
    top: -100px;
}
.assistir-anime{
    background-color: #101010;
    width: 81%;
    height: 0%;
    margin: 0px 20px 20px 20px;
}
.anime{
    display: flex;
    align-items: center;
}
.anime img{
    width: 200px;
    height: 280px;
    margin: 20px;
    border-radius: 10px;
}
.table{
    width: 100%;
}
.barra-descricao{
    width: 95%;
    border-top: 3px solid #0085FF;
    border-bottom: 3px solid #0085FF;
    font-size: 1.2em;
    margin-top: -1.8px;
    padding: 2px;
}
.sinopse{
    text-align: justify;
    padding: 15px;
    background-color: #101010;
}
.espisodios{
    width: 100%;
    margin-bottom: 10px;
}
.box-EP{
    display: flex;
    background-color: #101010;
}
.EP{
    margin: 20px auto;
}
#FecharAbrir{
    margin: 0 30px;
}
.ep-anime{
    background-color: #101010;
    height: auto;
    padding: 10px;
}
.animeep{
    background-color: #131619;
    height: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 1.2em;
}
.animeep a{
    color: white;
    transition: 0.5s;
}
.animeep a:hover{
    color: #0085FF;
    transition: 0.5s;
}
.sugestao{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sugestao-img{
    width: 200px;
    height: 280px;
    border-radius: 10px;
    transition: 0.5s;
}
.sugestao-img:hover{
    filter:grayscale(70%);
    transform: translate(-7px, 0px);
}
.assistir{
    display: flex;
    justify-content: space-around;
}
.box-assistir{
    background-color: black;
    width: 70%;
    height: 550px;
    margin: 10px;
    border-radius: 5px;
}
.iframe-anime{
    width: 100%;
    height: 550px;
    border: none;
    border-radius: 5px;
}
.texto-assistir{
    text-align: center;
    font-size: 1.2em;
    margin: 20px;
}
.proximo{
    background-color: black;
    width: 200px;
    height: 250px;
    margin-top: 10px;
    border-radius: 5px;
}
.texto-anime{
    color: white;
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    width: 10.4em;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
}
.proximo-anime-img{
    width: 200px;
    height: 250px;
    border-radius: 5px;
    transition: 0.5s;
}
.proximo-anime-img:hover{
    filter:grayscale(70%);
}
.box-anime{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #101010;
}
.seu-anime, .seu-anime img{
    width: 150px;
    height: 200px;
    border-radius: 10px;
    transition: 0.5s;
}
.seu-anime img:hover{
    filter:grayscale(70%);
}
@media screen and (max-width: 1024px){
    #pesquisa{
        top: 38px;
        width: 14%;
    }
    header{
        height: 100px;
    }    
    .lupa{
        bottom: -40px;
    }
    .hamburger{
        top: 2.3rem;
    }
    ::-webkit-scrollbar{
        background-color: #001839;
    }
    ::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.089);
    }
    .container-slide{
        height: 25em;
    }
    .container-items{
        height: 25em;
    }
    .item img{
        height: 25em;
    }
    .barra-horizontal{
        width: 80%;
    }
    .barra-horizontal2{
        width: 80%;
        left: 60px;
    }
    #Trailer-barra{
        width: 85%;
    }
    #AMV-barra{
        width: 85%;
    }
    .container-slide-anime, .container-slide-anime2{
        width: 90%;
        height: 14em;
    }
    .container-slide-animeT, .container-slide-animeA{
        width: 90%;
        height: 14em;
    }
    .container-items-anime, .container-items-anime2{
        width: 90%;
        height: 12.6em;
        overflow-x: auto;
    }
    .container-items-animeT, .container-items-animeA{
        width: 90%;
        height: 12.5em;
        overflow-x: auto;

    }
    .item-anime:first-child, .item-anime2:first-child{
        margin-left: -1%;
        transition: 1s;
    }
    .item-animeT:first-child, .item-animeA:first-child{
        margin-left: 0%;
    }
    .button-anime{
        display: none;
    }
    footer{
        background-position: bottom;
        height: 500px;
    }
    .footer-div{
        position: relative;
        top: -130px;
    }
    .sugestao-img:hover{
        transform: translate(0px, 0px);
    }
    .assistir{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .assistir-anime{
        background-color: #001839;
    }
    .anime{
        background-color: #101010;
    }
    .box-assistir{
        width: 90%;
    }
    .proximos-ep{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .proximos-ep .texto-assistir{
        display: none;
    }
    .proximo{
        height: 300px;
    }
    .proximo-anime-img{
        height: 300px;
    }
}
@media screen and (max-width: 900px){
    .capa-box{
        display: none;
    }
    .box{
        flex-direction: column;
        align-items: center;
        top: 0px;
        margin-top: 25px;
    }
    .assistir-anime{
        width: 100%;
    }
    .anime img{
        width: 250px;
        height: 350px;
    }
    .barra-descricao{
        font-size: 1.2em;
        width: 80%;
    }
    .sinopse{
        font-size: 1.2em;
    }
    .animeep{
        font-size: 1.2em;
        align-items: center;
        height: auto;
    }
    .sugestao{
        width: 90%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-div .informa{
        text-align: justify;
        font-size: 0.9em;
    }
    .assistir{
        height: 30%;
    }
    .box-assistir{
        height: 500px;
    }
    .iframe-anime{
        height: 500px;
    }
}
@media screen and (max-width: 800px){
    .container-slide{
        height: 20em;
    }
    .container-items{
        height: 20em;
    }
    .item img{
        width: 800px;
        height: 20em;
    }
    .barra-horizontal, .barra-horizontal2{
        display: none;
    }
    .informa, .informa2{
        text-align: center;
        border-bottom: 4px solid #0085FF;
        font-size: 1.3em;
    }
    .container-slide-anime, .container-slide-anime2{
        width: 85%;
        height: 14em;
    }
    .container-items-anime, .container-items-anime2 {
        width: 85%;
    }
    .footer-div .informa{
        border: none;
    }
    .box-assistir{
        height: 450px;
    }
    .iframe-anime{
        height: 450px;
    }
}
@media screen and (max-width: 600px){
    .container-slide{
        height: 20em;
    }
    .container-items{
        height: 20em;
    }
    .item img{
        width: 600px;
        height: 20em;
    }
    .container-slide-anime, .container-slide-anime2{
        width: 85%;
        height: 13em;
    }
    .container-slide-animeT, .container-slide-animeA{
        width: 70%;
        height: 13em;
    }
    .container-items-anime, .container-items-anime2{
        width: 85%;
    }
    .container-items-animeT, .container-items-animeA{
        width: 70%;
    }
    .item-anime:first-child, .item-anime2:first-child{
        margin-left: -1%;
        transition: 1s;
    }
    .item-animeT:first-child, .item-animeA:first-child{
        margin-left: 0%;
    }
    .footer-div .informa{
        border: none;
    }
    .barra-descricao{
        font-size: 1.2em;
    }
    .sugestao-img{
        width: 150px;
        height: 200px;
    }
    .sinopse{
        font-size: 1.2em;
    }
    .animeep{
        font-size: 1.2em;
    }
    .box-assistir{
        height: 400px;
    }
    .box-assistir iframe{
        height: 400px;
    }
    .box-assistir{
        height: 400px;
    }
    .iframe-anime{
        height: 400px;
    }
}
@media screen and (max-width:500px){
    #pesquisa{
        left: 53px;
    }
    .container-slide-animeT, .container-slide-animeA{
        width: 80%;
        height: 13em;
    }
    .container-items-animeT, .container-items-animeA{
        width: 80%;
    }
    .anime img{
        margin: 10px auto;
    }
    .table{
        display: none;
    }
    .sinopse{
        font-size: 1em;
    }
    .animeep{
        font-size: 1.2em;
    }
    .proximo{
        width: 200px;
        height: 250px;
    }
    .proximo-anime-img{
        width: 200px;
        height: 250px;
    }
}
@media screen and (max-width:400px){
    header{
        background-size: 7.8em;
    }
    .container-slide{
        height: 14em;
    }
    .container-items{
        height: 14em;
    }
    .item img{
        width: 400px;
        height: 14em;
    }
    .informa, .informa2{
        font-size: 1em;
    }
    .container-slide-animeT, .container-slide-animeA{
        width: 80%;
        height: 13em;
    }
    .container-items-animeT, .container-items-animeA{
        width: 80%;
    }
    .anime img{
        width: 150px;
        height: 200px;
        margin: 10px auto;
    }
    .sinopse{
        font-size: 0.9em;
    }
    .espisodios{
        height: 15em;
    }
    .animeep{
        font-size: 1em;
    }
    .box-assistir{
        width: 94%;
       height: 300px;
    }
    .iframe-anime{
        height: 300px;
    }
    .proximo{
        width: 180px;
        height: 200px;
    }
    .proximo-anime-img{
        width: 180px;
        height: 200px;
    } 
    .texto-assistir{
        font-size: 1em;
    }
    .box-assistir{
        height: 300px;
    }
    .box-assistir iframe{
        height: 300px;
    }
    .proximo{
        width: 180px;
        height: 250px;
    }
    .texto-anime{
        width: 9.4em;
    }
    .proximo-anime-img{
        width: 180px;
        height: 250px;
    }
}
@media screen and (max-width: 360px){
    header{
        background-size: 7em;
        height: 70px;
    }
    .lupa{
        bottom: -23px;
    }
    #pesquisa{
        top: 25px;
    }
    .hamburger{
        top: 1.2rem;
    }
    .sidebar{
        height: 200px;
    }
    .menu{
        margin-top: 25px;
    }
    .menu-link{
        font-size: 1.3rem;
    }
    .container-slide{
        height: 12em;
    }
    .container-items{
        height: 12em;
    }
    .item img{
        width: 360px;
        height: 13em;
    }
    .container-slide-anime, .container-slide-anime2{
        width: 85%;
        height: 13em;
    }
    .container-slide-animeT, .container-slide-animeA{
        width: 83%;
        height: 13em;
    }
    .container-items-anime, .container-items-anime2{
        width: 85%;
    }
    .container-items-animeT, .container-items-animeA{
        width: 83%;
        height: 13em;
    }
    .item-anime:first-child, .item-anime2:first-child{
        margin-left: -1%;
        transition: 1s;
    }
    .item-animeT:first-child, .item-animeA:first-child{
        margin-left: 0%;
    }
    .footer{
        background-size: 1em;
    }
    .footer-div .informa{
        font-size: 0.8em;
    }
    ass
    .sinopse{
        font-size: 0.8em;
    }
    .animeep a{
        font-size: 0.9em;
    }
    .texto-assistir{
        font-size: 1em;
    }
    .espisodios{
        height: 100%;
    }
    .proximo{
        width: 150px;
        height: 220px;
    }
    .texto-anime{
        width: 7.9em;
    }
    .proximo-anime-img{
        width: 150px;
        height: 220px;
    } 
}
@media screen and (max-width: 320px){
    #pesquisa{
        top: 10px;
        left: 10px;
        width: 19%;
    }
    .footer-div .informa{
        font-size: 0.9em;
    }
    .assistir{
        height: 100%;
    }
    .proximos-ep{
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
}
